*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
body >a{
    text-decoration: none;
    list-style: none;
}
.containt{
    height: 70vh;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 30vh;
}
.promotionLink{
    font-size: 30px;
    font-weight: 500;
    color: black;
    display: inline-block;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 30px;
    background-color: blueviolet;
}
.getionPromotion{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.addPromotion{
    text-decoration: none;
    display: inline-block;
    height: 40px;
    width: 150px;
    padding: 5px;
    border: none;
    border-radius: 30px;
    color: white;
    text-align: center;
    background-color: blueviolet;
}

#Search{
    height: 40px;
    width: 250px;
    border-radius: 40px;
    border: none;
    padding:12px;
}

#data{
    max-width: 100%;
    height: 100vh;
    background-color: beige;
    border-radius: 10px;
    padding: 90px 40px;
}

.promotionList{
    display: block;
}
.titlPromotionList{
    text-align: center;
}
.containerPromotion{
    margin: 2em 9em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.promotionDetail{
    max-width: 300px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 30px;
}
.NamePromotionDiv{
    text-align: center;
    margin: 10px;
}

.descriptionPromotion{
    margin:30px;
}

.action{
    display: flex;
    margin: 10px;    
}
.actionButton{
    border: none;
    border-radius: 30px;
    margin-left: 30px;
}
.edit{
    width: 70px;
    background-color: #4A6C6F;
    color:white;
}
.delete{
    width: 100px;
    background-color: #ED474A;
}
.table{
    width: 70%;
    margin: 70px 30px;
}

.addPromotionForm{
    height: 40vh;
    width: 500px;
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin: 90px 400px;
    padding: 10px;
}

.addPromotionForm form{
    display: inline-grid;
    margin: 10px;
}
.addPromotionInput{
    border: none;
    height: 40px;
    width: 240px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.editContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
}

#editDiv{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.editButton{
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 40px;
    margin: auto 20px;
}
.editFormContainer{
    display: none;
}
.active{
    width: 410px;
    display: flex;
    justify-content: space-around;
}

.newName{
    border: solid 1px;
}

.addApprenantButton{
    height: 36px;
    width: 180px;
    border: none;
    border-radius: 40px;
    margin: auto 20px;
}


.formApprenant form{
    display: block;
    height: 40vh;
    width: 500px;
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin: auto 455px;
    padding: 10px;
}


#formInput label{
    max-width: 80px;
    width: 250px;
}

.inputButton{
    text-align: center;
    padding: 10px 230px;
}
.apprenantTitleDiv{
    display: flex;
    justify-content: center;
    height: 190px;
    align-items: center;
}

.editFormApprenant form{
    display: block;
    height: 40vh;
    width: 500px;
    background-color: blueviolet;
    border-radius: 20px;
    text-align: center;
    margin: auto 455px;
    padding: 10px;
}